[submodule "programacion/programacion/MisionTIC-2022-R2-Ciclo1-Fundamentos_de_Programacion"]
	path = programacion/programacion/MisionTIC-2022-R2-Ciclo1-Fundamentos_de_Programacion
	url = https://github.com/cesardiaz-utp/MisionTIC-2022-R2-Ciclo1-Fundamentos_de_Programacion
